.filter_menu_container {
  @apply bg-white mt-[2px]
}


.category_title{ 
  @apply font-bold text-[20px] text-[#323334] mt-6 mb-2
}

.filter_menu_render_view {
  @apply hidden sm:hidden md:hidden lg:block xl:block 2xl:block
}

.filter_menu_render_view_responsive {
  overflow-x: auto;
  width:100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  @apply  flex flex-grow lg:hidden xl:hidden 2xl:hidden py-1 pb-10
}

.filter_menu_render_view_responsive::-webkit-scrollbar {
  display: none;
}