
.nav_container {
  @apply mt-5
}

.nav_divider {
  @apply border-[#323334] 
}

.nav_link_view{
  @apply my-6 container hidden sm:hidden md:hidden lg:flex xl:flex 2xl:flex
}

.row {
@apply flex flex-1 items-center justify-evenly mx-[50px] 
}

.link_text {
  @apply font-bold text-[16px] text-[#323334] hover:text-red-600
}

@keyframes openMenu {
  from {height: 0px;}
  to {height: 250px}
}
@keyframes closeMenu {
  from {height: 250px;}
  to {height: 0px;}
}

.mobile_menu_container {
  /* animation: mymove 1s;
  animation-timing-function: ease; */
  /* overflow: hidden; */
    /* max-height: 0px;
    transition: max-height 0.5s ease; */
  @apply flex flex-col my-4 lg:hidden xl:hidden 2xl:hidden absolute bg-white w-screen mx-auto right-0 shadow-lg py-4 overflow-hidden;
  /* @apply flex lg:hidden xl:hidden 2xl:hidden transition-transform duration-1000 ease-in-out; */
}

@keyframes showText {
  from {opacity: 0;}
  to {opacity: 1;}
}

.link_text_mobile {  
  @apply my-1 sm:my-1 md:my-1 lg:my-0 xl:my-0 2xl:my-0 
}
.link_text_mobile_animation {
  /* animation: showText 1s 2s; */
  animation-name: showText;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  @apply flex
}

.menu_open {
  animation: openMenu 1s;
  animation-timing-function: linear;    
}

.menu_close {
  animation: closeMenu 1s;
  animation-timing-function: linear;  
}

.hide {
  @apply hidden sm:hidden md:hidden lg:flex xl:flex 2xl:flex
}